# virtual environment
venv/

# static files
predict_results/
trainedmodel/
ICSI-300*/
essays/*
gradebook/*
archives/
classifier maker/*
practice/*

*.xlsx
*.csv
*.pdf
*.docx

.DS_Store

# cache files
__pycache__/

# test files
*.test.py
practice.py
test.*

# settings
.vscode/.ropeproject/
.vscode/settings.json

# others
.idea/