# virtual environment
venv/

# static files
predict_results/
trainedmodel/
ICSI-300*/
essays/*
archives/*

/*.xlsx
/*.csv
/*.pdf
/*.docx

.DS_Store

# cache files
*/__pycache__/*

# settings
.vscode/

